$resizerColor: #66b0ff;


/*
 * Functional
 */

button, button * {
  cursor: pointer;
}

.wrapper.maximized {
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  z-index: 2147483647 !important;
}

.wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;

  .resizer {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 20px;
    height: 20px;
  }

  .btn-left {
    position: absolute;
    left: 0px;
  }

  .btn-right {
    position: absolute;
    right: 0px;
  }

  .tabView, .tabSource {
    flex-grow: 1;
    left: 0px;
    width: 100%;
  }

  .tabView {
    overflow-y: auto;
  }

  .tabSource {
    display: flex;
    flex-direction: column;

    app-source {
      flex-grow: 1;
      height: 10px;
      overflow-y: scroll;
    }
  }
}


/*
 * Design
 */

.wrapper {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1), 0 3px 8px 0 rgba(0,0,0,0.2);
  background-color: white;
  line-height: 1.6;

  .resizer {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 10px 10px;
    border-color: transparent transparent $resizerColor transparent;
    cursor: se-resize;
  }

  header {
    min-height: 33px;
  }

  .toolbar-actions {
    text-align: center;
    margin-bottom: 0;
    h1 {
      font-size: 1.3em;
      text-align: left;
      font-weight: bold;

      position: absolute;
      top: 0px;
      left: 37px;
      right: 67px;
      padding-top: 2px;
      padding-left: 13px;
      padding-bottom: 3px;
    }
  }

  .tabView {
    padding-left: 5px;
    padding-right: 5px;
  }

  .centeredIcon {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      font-size: 40px;
    }
  }
}
