<div class="wrapper {{maximized ? 'maximized' : ''}}"
  [style.left.px]="x" [style.top.px]="y"
  [style.width.px]="width" [style.height.px]="height"
  [style.z-index]="zindex"
  (document:mouseup)="onMouseUp($event)"
  (document:mouseleave)="onMouseLeave($event)"
  (document:mousemove)="onMouseMove($event)">

  <!-- Resizer -->
  <div *ngIf="!maximized && isViewActive" class="resizer" (mousedown)="onResizerMouseDown($event)">
  </div>

  <!-- Header -->
  <header class="toolbar toolbar-header">
    <div class="toolbar-actions">
      <h1 class="title" (mousedown)="onDraggerMouseDown($event)">{{title}}</h1>

      <div class="btn-group btn-left">
        <button style="border-radius: 4px;" class="btn btn-default source {{isSourceActive ? 'active' : ''}}" (click)="toggleSource()">
          <i class="icon icon-code"></i>
        </button>
      </div>

      <div class="btn-group btn-right">
        <button *ngIf="!isMobile" class="btn btn-default maximize {{maximized ? 'active' : ''}}" (click)="toggleMaximize()">
          <i class="icon icon-window"></i>
        </button>
        <button class="btn btn-default close" (click)="onClose()">
          <i class="icon icon-cancel"></i>
        </button>
      </div>
    </div>
  </header>

  <div *ngIf="!page && isLoading" class="centeredIcon">
    <span class="icon icon-arrows-ccw"></span>
  </div>

  <div *ngIf="!page && isFailed">
    <span class="icon icon-cancel-circled"></span>
  </div>

  <ng-container *ngIf="page">
    <!-- Content View -->
    <div *ngIf="isViewActive" class="tabView">
      <markdown [rawText]="page.content"></markdown>
    </div>

    <!-- Source View -->
    <div *ngIf="isSourceActive" class="tabSource pure-form">
      <app-source [source]="floatingSource" (sourceChange)="onFloatingSourceChange($event)"></app-source>
    </div>

    <footer *ngIf="isSourceActive" class="toolbar toolbar-footer">
      <div class="toolbar-actions">
        <button type="submit" class="btn btn-negative pull-left" (click)="onDelete()">
          Delete
        </button>
        <button type="submit" class="btn btn-primary pull-right" (click)="onSave()">
          Save
        </button>
        <button type="submit" class="btn btn-default pull-right" (click)="onRevert()">
          Cancel
        </button>
      </div>
    </footer>
  </ng-container>
</div>
