<h1 class="active">
  <span (click)="start()">Quik Wik</span>&nbsp;
  <span class="icon icon-mobile" *ngIf=" (isMobile$ | async)" (click)="manuallySetDesktop()"></span>
  <span class="icon icon-monitor" *ngIf="!(isMobile$ | async)" (click)="manuallySetMobile()"></span>
</h1>

<p>
  <a href="https://help.github.com/articles/basic-writing-and-formatting-syntax/" target="_blank">
    <span class="icon icon-code"></span>
  </a>,
  <a href="https://gitlab.com/maheee-webstuff/QuikWik" target="_blank">
    {{version}} &copy; mahe, 2018
  </a>
</p>

<p class="pageList">
  <span *ngFor="let pageTitle of pageTitleList; let last = last">
    <a href="#" (click)="openPage(pageTitle)">
      <span class="icon icon-login"></span>
      {{pageTitle}}<!--
    --></a><span *ngIf="!last">, </span>
  </span>
</p>

<app-page *ngFor="let page of (pages$ | async)" [title]="page">
</app-page>
