
$textColor: #9CD5E5;


h1, p, a, a:hover, a:visited, a:active {
  color: $textColor;
  text-decoration: none;
}

h1, p {
  margin-left: 20px;
  margin-right: 20px;
}

.active * {
  cursor: pointer;
}

a, a * {
  cursor: pointer;
}

p.pageList {
  margin-top: 30px;
  line-height: 1.6;
  > span > a {
    white-space: nowrap;
  }
}