
* {
  box-sizing: border-box !important;
}

body {
  background-color: #688E99;
  overflow: hidden;
}

#remotestorage-widget {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}

@media (max-height: 600px) {
  #remotestorage-widget {
    top: initial;
    bottom: 0px;
  }
}

@media (max-width: 600px) {
  #remotestorage-widget {
    top: initial;
    bottom: 0px;
  }
}

#remotestorage-widget * {
  cursor: pointer;
}

/*
 * Markdown Formatting
 */
.tabView * {
  font-size: 12px;
  margin: 0px;
  padding: 0px;
}

.tabView h1, .tabView h2, .tabView h3,
.tabView h4, .tabView h5, .tabView h6,
.tabView ul, .tabView ol,
.tabView p, .tabView li {
  margin-top: 5px;
  margin-bottom: 5px;
}

.tabView h1 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 12px;
  border-bottom: 1px solid black;
}

.tabView h2 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 12px;
}

.tabView h3 {
  font-size: 14px;
  font-weight: bold;
  margin-top: 12px;
}

.tabView h4, .tabView h5, .tabView h6 {
  font-size: 12px;
  font-weight: bold;
  margin-top: 12px;
}

.tabView ul, .tabView ol {
  margin-left: 20px;
}

.tabView pre, .tabView code {
  background-color: #f5f2f0;
}

.tabView pre {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
}

.tabView blockquote {
  border-left: 10px solid #f5f2f0;
  padding-left: 5px;
}

.tabView a, .tabView a:hover, .tabView a:visited, .tabView a:active {
  color: #07a;
  text-decoration: none;
  cursor: pointer;
}

.tabView a.wikilink {
  color: #688E99;
}

.tabView a span.icon {
  margin-right: 3px;
  cursor: pointer;
}

.tabView table {
  text-align: left;
}

.tabView thead {
  background-color: #f5f2f0;
}

.tabView th {
  border: 1px solid white;
  padding: 4px;
}

.tabView td {
  border: 1px solid #f5f2f0;
  padding: 4px;
}

/*
 * Code Formatting
 */
 /* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript */
 /**
  * prism.js default theme for JavaScript, CSS and HTML
  * Based on dabblet (http://dabblet.com)
  * @author Lea Verou
  */
code[class*="language-"],
pre[class*="language-"] {
	color: black;
	background: none;
	text-shadow: 0 1px white;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #a67f59;
	background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}

.token.function {
	color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
	color: #e90;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}
